form.login-form>div{
    display: flex;
    justify-content: center;
    gap: 4rem;
}

button{
    border: solid 1px #604100;
    background-color: #604100;
    color: #FFDF94;

    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;

    padding: 0.75rem;
    border-radius: 10px;
}

button > a{
    color: #FFDF94;
    text-decoration: none;
}

form.login-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin-top: 2rem;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

form.login-form > label{
    display: flex;
    flex-direction: column;

    font-size: 32px;
    color: #604100;
    font-weight: bold;
    
    gap: 5px;
}

form.login-form > label > div {
    width: 639px;
    height: 63px;

    justify-content: center;

    background: #FFF3C9;
    border-radius: 10px;

    text-align: center;
}

form.login-form > label > div > input{
    width: 610px;
    height: 63px;

    font-size: 28px;
    color: #2d1919;
    border: 0;
    background-color: transparent;
    outline: none;
}

form.login-form > label > div > input::placeholder{
    width: 610px;
    height: 63px;

    font-size: 28px;
    color: #2d1919;
    border: 0;
    background-color: transparent;
    outline: none;
}


form.login-form > div > ul{

    margin-top: 30px;
    display: flex;

    gap: 4rem;
}

